@keyframes slideDown {
  0% {
    transform: translateY(-100%); /* Começa completamente fora do container */
  }
  100% {
    transform: translateY(
      0%
    ); /* Termina completamente fora do container (na parte inferior) */
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%); /* Começa completamente dentro do container */
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-slide-down {
  animation: slideDown 0.2s linear forwards;
}

.animate-slide-up {
  animation: slideUp 0.2s linear forwards;
}
